body, *{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
}
img{
    margin: 0;
    vertical-align: bottom;
}
ul, li, ol{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
._container {
    max-width: 975px;
    min-height: 100%;
    margin: 0 auto;
    
}
.header__container{
    justify-content: space-between;
}
header{
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.title{
    font-size: 30px;
    font-family: "Roboto Slab", sans-serif;
    color: rgb(36, 36, 43);
    font-weight: bold;
    line-height: 0.8;
}
.text{
    color: rgb(102, 102, 102);
    line-height: 1.714;
}
sup{
    font-family: inherit;
}
.link{
    color: rgb(253, 131, 0);
    font-weight: bold;
    transition: .3s all linear;
}
.header-top{
    min-height: 55px;
    background-color: #1f1f56;
}
.header-top div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top div nav{
    display: flex;
    align-items: center;
    min-height: 55px;
    justify-content: flex-start;
}
.header__socials{
    display: flex;
    gap: 23px;

    align-items: center;
}
.header__socials a img{
    vertical-align: middle;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 26px;
}
.header__item a{
    color: #b1b1d2;
    transition: .3s color ease;
}
.header__item a:hover{
    color: #fd8300;
}
.header-bottom{
    padding: 29px 0;
}
.header-bottom div{
    display: flex;
}
.header__left{
    max-width:486px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 47px;
    padding-right: 31px;
    border-right: 1px solid #e4e4ec;
}
.header__left a{
    display: block;
}
.header__phones{
    display: flex;
    align-items: flex-start;
    gap: 12px; 
}
.header__phones img{
    display: block;
}
.header__phones div{
    display: flex;
    flex-direction: column;
}
.header__call{
   color: #25252c;
   font-weight: bold;
   font-size: 18px;
}
.header__call:last-child{
    margin-top: 12px;
}
.header__call:hover{
    text-decoration: underline;
}
.header__right{
    padding-left: 29px;
    display: flex;
    align-items: center;

    max-width: 475px;
    gap: 52px;
}
.header__socials a:before, .header__socials a{
    margin-top: 5px;
    height: auto;

}
.fb:before{
    content: url('../img/fb.svg');
}
.tw:before{
    content: url('../img/tw.svg');
}
.insta:before{
    content: url('../img/inst.svg');
}
.fb:hover:before{
    content: url('../img/fbHover.svg');
}
.tw:hover:before{
    content: url('../img/twHover.svg');
}
.insta:hover:before{
    content: url('../img/instHover.svg');
}
.header__contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}
.header__contact{
    display: flex;
    align-items: center;
    gap: 13px;
}
.header__contact:hover{
    text-decoration: underline;
}
.header__contact a{
    font-size: 16px;
    color: #25252c;
}
.btn{
    border: 2px solid #fd8301;
    display: inline-block;
    padding: 11.5px 27px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #25252c;
    transition: .3s all ease;
}
.btn:hover{
    color: #ffffff;
    background: #fd8301;
}
/*================================================*/
.warning{
    text-align: center;
    padding: 57px 0;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.warning__title{
    color: #fff;
    font-family: "Roboto Slab", sans-serif;
    width: 100%;    
    font-size: 30px;
    font-weight: bold;
    line-height: 0.8;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.warning__text{
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.715;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}
.warning__price{
    font-weight: bold;
    color: #fd8300;
    font-size: 40px;
}
.warning__price span{
    font-size: 24px;
}
/*===============================*/
.main{
    padding: 42px 0;
    padding-bottom: 0;
}
.main__container{
    display: flex;
    justify-content: space-between;
}
.right{
    height: auto;
    min-width:219px;
}
.right nav{
    width: 100%;
    height: auto;
    overflow: hidden;
    top: 35px;
    position: sticky;
    border-radius: 3px;
}
.right__title{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto Slab", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: #1f1f56;
    padding: 10.5px 15px;
}
.mail:before {
    content: url('../img/email.svg');
    margin-right: 12px;
}
.skype::before{
    content: url('../img/skype.svg');
    margin-right: 12px;
}
.header__call:first-child:before{
    content: url('../img/phone.svg');
    margin-right: 12px;
}
.header__call:not(:first-child){
    margin-left: 28px;
}
.footer__call:first-child:before{
    content: url('../img/phone.svg');
    margin-right: 12px;
}
.footer__call:not(:first-child){
    margin-left: 28px;
}
.right__item{
    background-color: #e4e4ec;
    border-bottom: 1px solid #cecedd;
}
.right__item:last-child{
    border-bottom: unset;
}
.right__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 15px;
    color: #25252c;
    transition: .3s all ease;
}
.right__children{
    display: none;
    padding: 15px;
    color: #666666;
    padding-left: 30px;
    transition: .3s all ease;
}
.right__item .right__link img{
    transition: .3s, all linear;
}
.right__children:hover{
    background-color: #cecedd;
}
.right__item:hover .right__link{
    background-color: #fd8300;
    color: #fff;
}
.right__item:hover .right__link img{
    transform: rotate(90deg);
}
.right__item:hover .right__children{
    display: block;
}
.left{
    max-width: 715px;
}
.left__title{
    margin-bottom: 28px;
}
.left__text{
    margin-bottom: 13px;
}
.left__link{
    text-decoration: underline;
}
.left__link:hover{
    text-decoration: none;
}
.left-top{
    padding-bottom: 35px;
    border-bottom: 1px solid #e4e4ec;
}
.bottom{
    padding-top: 35px;
}
.bottom__title{
    font-size: 24px;
    margin-bottom: 24px;
}
.bottom__block{
    gap: 15px;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.bottom__item{
    max-width: 220px;
}
.bottom__desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.bottom__image{
    margin-bottom: 13px;
    height: auto;
}
.bottom__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom__name{
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #1f1f56;
}
.bottom__name a{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
.bottom__name a sup{
    font-size: smaller ;
}
.bottom-p sup{
    font-size: smaller ;
}
.bottom__name a:hover{
    text-decoration: underline;
}
/*=========================================*/
.footer-top{
    padding:41px 0;
    background-color: #ededf5;
}
.footer-top__left{
    max-width: 340px;
    flex: 1 1 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-top div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__item a{
    color: rgb(102, 102, 102);
    line-height: 1.857;
    text-decoration: none;
    transition: .3s all linear;
}
.footer__item a:hover{
    color: #fd8300;
    text-decoration: underline;
}
div.footer-top__right{
    max-width: 443px;
    display: flex;
    flex: 1 1 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}
.footer__contacts{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
div.footer__contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.footer__contact a {
    font-size: 16px;
    color: rgb(37, 37, 44);
    line-height: 1.5;
}
.footer__contact a:hover{
    text-decoration: underline;
}
.footer__contact img{
    display: inline-block;
    vertical-align: center;
}
div.footer__phones{
    display: flex;
    justify-content: flex-start;
    gap: 13px;
    
}
.footer__phones img{
    display: block;
    height: 15.95px;
}
.footer__call {
    font-size: 18px;
    color: rgb(37, 37, 44);
    font-weight: bold;
    line-height: 1.334;
}
.footer__call:hover{
    text-decoration: underline;
}
.footer__phones div{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer-bottom{
    padding: 16px 10px;
    background-color: #dcdce6;
}
.footer__copy{
    font-size: 13px;
    color: rgb(153, 153, 166);
    line-height: 1.385;
    text-align: center;
}
main{
    padding-bottom: 42px;
}
.inner__container{
    padding: 36px 0;
    border-bottom: 1px solid #e4e4ec;
}
.inner__title{
    font-size: 24px;
    font-family: "Roboto Slab", sans-serif;
    color: rgb(36, 36, 43);
    font-weight: bold;
    line-height: 1;  
    margin-bottom: 23px;
}
.inner__text{
        color: rgb(102, 102, 102);
        line-height: 1.714; 
        max-width: 942px;
        margin-bottom: 8px;
}
table{
    border-radius: 3px;
    border-collapse: collapse;
    overflow: hidden;
    margin-bottom: 28px;
    width: 100%;

}
.intro__head td{
    padding: 10.5px 0;
    margin: 0;
    background-color: #1f1f56;
    font-family: "Roboto Slab", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.715;
}
.intro__head td p:first-child{
    padding-left: 20px;
}

.intro__body td a{
    color: rgb(102, 102, 102);
    line-height: 1.715;
    display: block;
}
.intro__body td a:first-child{
    padding-left: 20px;
}
.intro__body td a:last-child{
    padding-right: 20px;
}
.intro__head td:last-child{
    text-align: right;
    padding-right: 20px;
}
.intro__body{
    color: #ffffff;
    background-color: #e4e4ec;
    transition: .3s all linear;
}
.intro__body td a{
    transition: .3s color linear;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
}
.intro__body:hover td a{
    color: #fff;
}
.intro__body:not(:last-child) td {
    border-bottom: 1px solid #cecedd;
}

.intro__body:hover{
    background-color: #fd8300;
}
.intro__body:hover td:not(){
    border-bottom: 1px solid transparent;
}
.intro__body:hover .intro__body td{
    background-color: #fd8300;
}
.intro__body td:last-child{
    text-align: right;
}
.intro__text{
    font-size: 13px;
    color: rgb(102, 102, 102);
    line-height: 1.615;
}
.intro__link{
    margin-top: 20px;
    display: inline-block;
}
.intro__link:hover{
    text-decoration: underline;
}
.section-contacts__container{
    padding-top: 42px;
    padding-bottom: 35px;
    border-bottom: 1px solid #e4e4ec;
}
.section-contacts__block{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.section-contacts__title{
    margin-bottom: 28px;
}
.section-contacts__item{
    max-width: 253px;
}
.section-contacts__item a{
    display: block;
}
.section-contacts__name{
    display: block;
        font-family: "Roboto Slab", sans-serif;
        color: rgb(36, 36, 43);
        font-weight: bold;
        line-height: 1.715;
        margin-bottom: 19px;  
}
.section-contacts__text{
    color: rgb(102, 102, 102);
    line-height: 1.5;
    margin-bottom: 14px;
}
.section-contacts__call{
    font-size: 18px;
    color: rgb(37, 37, 44);
    font-weight: bold;
    line-height: 1.334;
    margin-bottom: 12px;
}
.section-contacts__call:hover{
    text-decoration: underline;
}
.section-contacts__mail{
    font-size: 16px;
    color: rgb(37, 37, 44);
    text-decoration: underline;
    line-height: 1.5;
}
input,textarea{
    display: block;
}
.section-contacts__mail:hover{
    text-decoration: none;
}
.mb14{
    margin-bottom: 14px;
}
.location{
    padding-top: 36px;
}
.location__container{
    display: flex;
    gap: 27px;
    align-items: flex-start;
    justify-content: space-between;
}
.location__address{
    flex: 1 1 466px;
    min-height: 299px;
}
.location__address iframe{
    width: 100%;
    min-height: 100%;
}
.location__form{
    flex: 1 1 466px;
}
.location__title{
    font-size: 14px;
    font-family: "Roboto Slab", sans-serif;
    color: rgb(36, 36, 43);
    line-height: 1.715;
    margin-bottom: 22px;   
}
.location__inputs{
    gap:10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.location__input{
    width: 50%;
    padding: 6px 0;
    padding-left: 15px;
}
.location__input, textarea{
    display: block;
    max-width: 466px;
    width: 100%;
    margin-bottom: 10px;
    resize: vertical;

}
.textarea{
    min-height:105px;
    margin-bottom: 13px;
}
.location__end{
    display: flex;
    gap: 30px;
}
.location__btn{
    
    cursor: pointer;
    color: #ffffff;
    line-height: 1.715;
    background-color: #fd8300;
    padding: 4.8px 22.1px;
    border-radius: 50px;
}
.location__btn:hover{
    color: #000;
    background-color: transparent;
}
.location__checkbox *{
    display: block;
}
.location__checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
}
.location__checkbox input + label{
    font-size: 13px;
    position: relative;
    color: rgb(102, 102, 102);
    line-height: 1.615;
    padding-top: 5px;
    padding-left: 26px;
}
.location__checkbox input + label:before{
    position: absolute;
    content: '';
    display: block;
    top: 5px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #c9c9d7;
}
.location__checkbox input + label:after{
    content: '';
    position: absolute;
    display: block;
    top: 8px;
    opacity: 0;
    transform: .3s all linear;
    width: 4px;
    height: 7px;
    left: 6px;
    transform: rotate(45deg);
    border-bottom: 2px solid #1f1f56;
    border-right: 2px solid #1f1f56;
}
.location__checkbox input:checked + label:after{
    opacity: 1;
}
.location__checkbox:hover label::before{
    border-color: #000;
}
.location__checkbox input{
    display: none;
}
._lock{
    overflow: hidden;
}
.popub{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #272730dc;
    display: flex;
    align-items: center;
    overflow: auto;
    justify-content: center;
    transition: .3s all linear;
    opacity: 0;
    visibility: hidden;
}
.popub._active{
    opacity: 1;
    visibility: visible;
}
.popub__content{
    padding: 29px 23px;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
}
.popub__input{
    box-sizing: border-box;
    padding: 6px 0;
    width: 300px;
    margin-bottom: 10px;
    padding-left: 15px; 
    font-size: 13px;
    color: rgb(153, 153, 166);
    font-style: italic;
    border-radius: 3px;
    border: 1px solid #c5c5d4;
}
.popub__title{
    font-size: 24px;
    font-family: "Roboto Slab", sans-serif;
    color: rgb(36, 36, 43);
    font-weight: bold;
    line-height: 1; 
    margin-bottom: 19px;
}
.lower{
    text-transform: lowercase;
}
.popub__close{
    position: absolute;
    right: 15px;
    top: 15px;
    display: block;
    transform: rotate(45deg);
    color: rgb(165, 167, 168);
    font-size: 35px;
}
.popub__btn{
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 100%;
    border-radius: 21.5px;
    background-color: #fd8300;
    border: 1px solid #fd8300;
    padding: 8.5px 0;
    cursor: pointer;
    transition: .3s all;
}
.popub__btn:hover{
    background-color: #fff;
    color: #000;
}
/*================================*/