html{
    font-size: 1px;
}
body, *{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14rem;
    line-height: 24px;
}
body{
    overflow-x: hidden;
}
img{
    margin: 0;
    vertical-align: bottom;
}
ul, li, ol{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
._container {
    max-width: 975rem;
    margin: 0 auto;
    padding:0 10px;
}
.header__container{
    justify-content: space-between;
}
header{
        box-shadow: 0rem 0rem 10rem 0rem rgba(0, 0, 0, 0.1);
}
.title{
    font-size: 30rem;
    font-family: "Roboto Slab", sans-serif;
    color: rgb(36, 36, 43);
    font-weight: bold;
    line-height: 0.8;
}
.text{
    color: rgb(102, 102, 102);
    line-height: 1.714;
}
sup{
    font-family: inherit;
    font-size: 0.7em;
}
.link{
    color: rgb(253, 131, 0);
    font-weight: bold;
    transition: .3s all linear;
}
.header-top{
    min-height: 55rem;
    background-color: #1f1f56;
}
.header-top div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top div nav{
    display: flex;
    align-items: center;
    min-height: 55rem;
    justify-content: flex-start;
}
.header__socials{
    display: flex;
    gap: 23rem;

    align-items: center;
}
.header__socials a img{
    vertical-align: middle;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 26rem;
}
.header__item a{
    color: #b1b1d2;
    transition: .3s color ease;
}
.header__item a:hover{
    color: #fd8300;
}
.header-bottom{
    padding: 29rem 0;
}
.header-bottom div{
    display: flex;
}
.header__left{
    max-width:486rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 47rem;
    padding-right: 31rem;
    border-right: 1px solid #e4e4ec;
}
.header__left a{
    display: block;
}
.header__phones{
    display: flex;
    align-items: flex-start;
    gap: 12rem; 
}
.header__phones img{
    display: block;
}
.header__phones div{
    display: flex;
    flex-direction: column;
}
.header__call{
   color: #25252c;
   font-weight: bold;
   font-size: 18rem;
}
.header__call:last-child{
    margin-top: 12rem;
}
.header__call:hover{
    text-decoration: underline;
}
.header__right{
    padding-left: 29rem;
    display: flex;
    align-items: center;

    max-width: 475rem;
    gap: 52rem;
}
.header__socials a:before, .header__socials a{
    margin-top: 5rem;
    height: auto;

}
.fb:before{
    content: url('../img/fb.svg');
}
.tw:before{
    content: url('../img/tw.svg');
}
.insta:before{
    content: url('../img/inst.svg');
}
.fb:hover:before{
    content: url('../img/fbHover.svg');
}
.tw:hover:before{
    content: url('../img/twHover.svg');
}
.insta:hover:before{
    content: url('../img/instHover.svg');
}
.header__contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13rem;
}
.header__contact{
    display: flex;
    align-items: center;
    gap: 13rem;
}
.header__contact:hover{
    text-decoration: underline;
}
.header__contact a{
    font-size: 16rem;
    color: #25252c;
}
.btn{
    border: 2rem solid #fd8301;
    display: inline-block;
    padding: 11.5rem 27rem;
    border-radius: 25rem;
    font-size: 16rem;
    font-weight: bold;
    color: #25252c;
    transition: .3s all ease;
}
.btn:hover{
    color: #ffffff;
    background: #fd8301;
}
/*================================================*/
.warning{
    text-align: center;
    padding: 57rem 0;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.warning__title{
    color: #fff;
    font-family: "Roboto Slab", sans-serif;
    width: 100%;    
    font-size: 30rem;
    font-weight: bold;
    line-height: 0.8;
    text-transform: uppercase;
    margin-bottom: 12rem;
}
.warning__text{
  font-size: 14rem;
  color: rgb(255, 255, 255);
  line-height: 1.715;
  width: 100%;
  text-align: center;
  margin-bottom: 16rem;
}
.warning__price{
    font-weight: bold;
    color: #fd8300;
    font-size: 40rem;
}
.warning__price span{
    font-size: 24rem;
}
/*===============================*/
.main{
    padding: 42rem 0;
    padding-bottom: 0;
}
.main__container{
    display: flex;
    gap: 15rem;
    justify-content: space-between;
}
.right{
    height: auto;
    min-width:219rem;
}
.right nav{
    width: 100%;
    height: auto;
    overflow: hidden;
    top: 35rem;
    position: sticky;
    border-radius: 3rem;
}
.right__title{
    font-size: 16rem;
    line-height: 1.5;
    font-family: "Roboto Slab", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: #1f1f56;
    padding: 10.5rem 15rem;
}
.mail:before {
    content: url('../img/email.svg');
    margin-right: 12rem;
}
.skype::before{
    content: url('../img/skype.svg');
    margin-right: 12rem;
}
.header__call:first-child:before{
    content: url('../img/phone.svg');
    margin-right: 12rem;
}
.header__call:not(:first-child){
    margin-left: 28rem;
}
.footer__call:first-child:before{
    content: url('../img/phone.svg');
    margin-right: 12rem;
}
.footer__call:not(:first-child){
    margin-left: 28rem;
}
.right__item{
    background-color: #e4e4ec;
    border-bottom: 1px solid #cecedd;
}
.right__item:last-child{
    border-bottom: unset;
}
.right__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10rem 15rem;
    color: #25252c;
    transition: .3s all ease;
}
.right__children{
    display: none;
    padding: 15rem;
    color: #666666;
    padding-left: 30rem;
    transition: .3s all ease;
}
.right__item .right__link img{
    transition: .3s, all linear;
}
.right__children:hover{
    background-color: #cecedd;
}
.right__item:hover .right__link{
    background-color: #fd8300;
    color: #fff;
}
.right__item:hover .right__link img{
    transform: rotate(90deg);
}
.right__item:hover .right__children{
    display: block;
}
.left{
    max-width: 715rem;
}
.left__title{
    margin-bottom: 28rem;
}
.left__text{
    margin-bottom: 13rem;
}
.left__link{
    text-decoration: underline;
}
.left__link:hover{
    text-decoration: none;
}
.left-top{
    padding-bottom: 35rem;
    border-bottom: 1rem solid #e4e4ec;
}
.bottom{
    padding-top: 35rem;
}
.bottom__title{
    font-size: 24rem;
    margin-bottom: 24rem;
}
.bottom__block{
    gap: 29rem;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.bottom__item{
    max-width: 220rem;
}
.bottom__desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.bottom__image{
    margin-bottom: 13rem;
    height: auto;
}
.bottom__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom__name{
    font-family: Arial, sans-serif;
    font-size: 14rem;
    text-transform: uppercase;
    color: #1f1f56;
}
.bottom__name a{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.bottom__name a:hover{
    text-decoration: underline;
}
/*=========================================*/
.footer-top{
    padding:41rem 0;
    background-color: #ededf5;
}
.footer-top__left{
    max-width: 340rem;
    flex: 1 1 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-top div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.footer__item a{
    color: rgb(102, 102, 102);
    line-height: 1.857;
    text-decoration: none;
    transition: .3s all linear;
}
.footer__item a:hover{
    color: #fd8300;
    text-decoration: underline;
}
div.footer-top__right{
    max-width: 443rem;
    display: flex;
    flex: 1 1 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10rem;
}
.footer__contacts{
    display: flex;
    flex-direction: column;
    gap: 13rem;
}
div.footer__contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12rem;
}
.footer__contact a {
    font-size: 16rem;
    color: rgb(37, 37, 44);
    line-height: 1.5;
}
.footer__contact a:hover{
    text-decoration: underline;
}
.footer__contact img{
    display: inline-block;
    vertical-align: center;
}
div.footer__phones{
    display: flex;
    justify-content: flex-start;
    gap: 13rem;
    
}
.footer__phones img{
    display: block;
    height: 15.95rem;
}
.footer__call {
    font-size: 18rem;
    color: rgb(37, 37, 44);
    font-weight: bold;
    line-height: 1.334;
}
.footer__call:hover{
    text-decoration: underline;
}
.footer__phones div{
    display: flex;
    flex-direction: column;
    gap: 12rem;
}
.footer-bottom{
    padding: 16rem 10rem;
    background-color: #dcdce6;
}
.footer__copy{
    font-size: 13rem;
    color: rgb(153, 153, 166);
    line-height: 1.385;
    text-align: center;
}
main{
    padding-bottom: 42rem;
}
.inner__container{
    padding: 36rem 10rem;
    border-bottom: 1rem solid #e4e4ec;
}
.inner__title{
    font-size: 24rem;
    font-family: "Roboto Slab", sans-serif;
    color: rgb(36, 36, 43);
    font-weight: bold;
    line-height: 1;  
    margin-bottom: 23rem;
}
.inner__text{
        color: rgb(102, 102, 102);
        line-height: 1.714; 
        max-width: 942rem;
        margin-bottom: 8rem;
}
table{
    border-radius: 3rem;
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;

}
.inner__table{
    margin-bottom: 28rem;
}
.intro__head td{
    padding: 10.5rem 0;
    margin: 0;
    background-color: #1f1f56;
    font-family: "Roboto Slab", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.715;
}
.intro__head td p:first-child{
    padding-left: 20rem;
}

.intro__body td a{
    color: rgb(102, 102, 102);
    line-height: 1.715;
    display: block;
}
.intro__body td a:first-child{
    padding-left: 20rem;
}
.intro__body td a:last-child{
    padding-right: 20rem;
}
.intro__head td:last-child{
    text-align: right;
    padding-right: 20rem;
}
.intro__body{
    color: #ffffff;
    background-color: #e4e4ec;
    transition: .3s all linear;
}
.intro__body td a{
    transition: .3s color linear;
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
}
.intro__body:hover td a{
    color: #fff;
}
.intro__body:not(:last-child) td {
    border-bottom: 1rem solid #cecedd;
}

.intro__body:hover{
    background-color: #fd8300;
}
.intro__body:hover td:not(){
    border-bottom: 1rem solid transparent;
}
.intro__body:hover .intro__body td{
    background-color: #fd8300;
}
.intro__body td:last-child{
    text-align: right;
}
.intro__text{
    font-size: 13rem;
    color: rgb(102, 102, 102);
    line-height: 1.615;
}
.intro__link{
    margin-top: 20rem;
    display: inline-block;
}
.intro__link:hover{
    text-decoration: underline;
}
.section-contacts__container{
    padding-top: 42rem;
    padding-bottom: 35rem;
    border-bottom: 1rem solid #e4e4ec;
}
.section-contacts__block{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30rem;
    justify-content: space-between;
}
.section-contacts__title{
    margin-bottom: 28rem;
}
.section-contacts__item{
    max-width: 253rem;
}
.section-contacts__item a{
    display: block;
}
.section-contacts__name{
    display: block;
        font-family: "Roboto Slab", sans-serif;
        color: rgb(36, 36, 43);
        font-weight: bold;
        line-height: 1.715;
        margin-bottom: 19rem;  
}
.section-contacts__text{
    color: rgb(102, 102, 102);
    line-height: 1.5;
    margin-bottom: 14rem;
}
.section-contacts__call{
    font-size: 18rem;
    color: rgb(37, 37, 44);
    font-weight: bold;
    line-height: 1.334;
    margin-bottom: 12rem;
}
.section-contacts__call:hover{
    text-decoration: underline;
}
.section-contacts__mail{
    font-size: 16rem;
    color: rgb(37, 37, 44);
    text-decoration: underline;
    line-height: 1.5;
}
input,textarea{
    display: block;
}
.section-contacts__mail:hover{
    text-decoration: none;
}
.mb14{
    margin-bottom: 14rem;
}
.location{
    padding-top: 36rem;
}
.location__container{
    display: flex;
    gap: 27rem;
    align-items: flex-start;
    justify-content: space-between;
}
.location__address{
    flex: 1 1 466rem;
    min-height: 299rem;
}
.location__address iframe{
    width: 100%;
    min-height: 100%;
}
.location__form{
    flex: 1 1 466rem;
}
.location__title{
    font-size: 14rem;
    font-family: "Roboto Slab", sans-serif;
    color: rgb(36, 36, 43);
    line-height: 1.715;
    margin-bottom: 22rem;   
}
.location__inputs{
    gap:10rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.location__input{
    width: 50%;
    padding: 6rem 0;
    padding-left: 15rem;
}
.location__input, textarea{
    display: block;
    max-width: 466rem;
    width: 100%;
    margin-bottom: 10rem;
    resize: vertical;

}
.textarea{
    min-height:105rem;
    margin-bottom: 13rem;
}
.location__end{
    display: flex;
    align-items: flex-start;
    gap: 30rem;
}
.location__btn{
    
    cursor: pointer;
    color: #ffffff;
    line-height: 1.715;
    background-color: #fd8300;
    padding: 4.8rem 22.1rem;
    border-radius: 50rem;
}
.location__btn:hover{
    color: #000;
    background-color: transparent;
}
.location__checkbox *{
    display: block;
}
.location__checkbox{
    display: flex;
    align-items: center;
    gap: 10rem;
}
.location__checkbox input + label{
    font-size: 13rem;
    position: relative;
    color: rgb(102, 102, 102);
    line-height: 1.615;
    padding-top: 5rem;
    padding-left: 26rem;
}
.location__checkbox input + label:before{
    position: absolute;
    content: '';
    display: block;
    top: 5rem;
    left: 0;
    width: 15rem;
    height: 15rem;
    border: 1rem solid #c9c9d7;
}
.location__checkbox input + label:after{
    content: '';
    position: absolute;
    display: block;
    top: 8rem;
    opacity: 0;
    transform: .3s all linear;
    width: 4rem;
    height: 7rem;
    left: 6rem;
    transform: rotate(45deg);
    border-bottom: 2rem solid #1f1f56;
    border-right: 2rem solid #1f1f56;
}
iframe{
    border: unset;
}
.location__checkbox input:checked + label:after{
    opacity: 1;
}
.location__checkbox input:hover + label:after{
    opacity: 1;
}
.location__checkbox input{
    display: none;
}
._lock{
    overflow: hidden;
}
.popub{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #272730dc;
    display: flex;
    align-items: center;
    overflow: auto;
    justify-content: center;
    transition: .3s all linear;
    opacity: 0;
    visibility: hidden;
}
.popub._active{
    opacity: 1;
    visibility: visible;
}
.popub__content{
    padding: 29rem 23rem;
    background-color: #fff;
    position: relative;
    border-radius: 5rem;
}
.popub__input{
    box-sizing: border-box;
    padding: 6rem 0;
    max-width: 300rem;
    width: 100%;
    margin-bottom: 10rem;
    padding-left: 15rem; 
    font-size: 13rem;
    color: rgb(153, 153, 166);
    font-style: italic;
    border-radius: 3rem;
    border: 1rem solid #c5c5d4;
}
.popub__title{
    font-size: 24rem;
    font-family: "Roboto Slab", sans-serif;
    color: rgb(36, 36, 43);
    font-weight: bold;
    line-height: 1; 
    margin-bottom: 19rem;
}
.lower{
    text-transform: lowercase;
}
.popub__close{
    position: absolute;
    right: 15rem;
    top: 10rem;
    display: block;
    transform: rotate(45deg);
    color: rgb(165, 167, 168);
    font-size: 35rem;
}
.popub__btn{
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 100%;
    border-radius: 21.5rem;
    background-color: #fd8300;
    border: 1rem solid #fd8300;
    padding: 8.5rem 0;
    cursor: pointer;
    transition: .3s all;
}
.burger{display: none;}
.popub__btn:hover{
    background-color: #fff;
    color: #000;
}
@media screen and (max-width: 1000px){
    .header-bottom div{
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }
}
@media screen and (max-width:994px) {
    .location__container{
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width:978px) {
    .location__input{
        max-width: 100%;
    }
    
}
@media screen and (max-width:968px) {
    .bottom__title{
        text-align: center;
    }
}
@media screen and (max-width: 716px) {
    .main__container{
        flex-wrap: wrap;
    }
    .right{
        flex-basis: 100%;
        order: 1;
    }
    .left{
        order: 2;
    }
}
@media screen and (max-width:822px){
    .footer-top div{
        justify-content: center;
    }
    div.footer__contacts{
        align-items: flex-start;
    }
}
@media screen and (max-width:616px){
    .burger{
        position: relative;
        z-index: 100000;
        cursor: pointer;
        top: -10rem;
        display: block;
        width: 60rem;
        height: 100%;
    }
    .burger::before, .burger:after, .burger-body{
        content: '';
        display: block;
        position: absolute;
        top: -10rem;
        left: 0;
        width: 100%;
        height: 5rem;
        background-color: #fff;
        transition: .3s all linear;
    }
    .burger:after{
        top: 20px;
    }
    .burger._active:before{
        top: 20px;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    .burger._active:after{
        top: 20px;
        transform: rotate(-45deg) translate(10px, -8px);
    }
    .burger-body{
        top: 5rem;
    }
    .burger-body._active{
        transform: scale(0);
    }
    nav.header__menu{
        z-index: 1000;
        align-items: flex-start;
        position: fixed;
        top: 100rem;
        align-items: flex-start;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(31, 31, 86, 0.9);
        transition: .3s left linear;
    }
    .body._lock{
        overflow: hidden;
    }
    .header__menu._active{
        left: 0;
        overflow-y:scroll;
    }
    .header__socials{
        position: relative;
        z-index: 1100000;
    }
    .header__list{
        width: 100%;
        padding-top: 150rem;
        padding-bottom: 100rem;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .header__item a{
        display: block; 
        font-size: 35rem;
        margin-bottom: 25rem;
    }
}
@media screen and (max-width:724px) {
    div.section-contacts__block{
        justify-content: center;
    }
    .section-contacts__title{
        text-align: center;
    }
}
@media screen and (max-width:434px){
    .location__end{
        gap: 15rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:656px){
    body{
        overflow-x: hidden;
    }
    table{
        width: 636rem;
        overflow-x: scroll;
    }
    .inner__table{
        overflow: hidden;
        overflow-x: scroll;
    }
}
@media screen and (max-width:1016px){
   .header__left{
    padding-left: 0;
   }
   .header__right{
    gap: 15rem;
    flex-wrap: wrap;
   }
}
@media screen and (max-width:912px) {
    .header__left{
        justify-content: space-between;
        border-right-color: transparent;
    }
    div.header__right{
        padding-left: 0;
        justify-content: space-between;
    }
    .header-bottom div{
        justify-content: flex-start;
    }
}
/*================================*/