$maxWidthContainer: 982;
$maxWidth: 1200px;
$primaryColor: #1f1f56;
$secondColor: #fd8300;
$headerTextColor: #b1b1d2;
$blackText: #24242b;
$greyText: #666666;
$whiteText: #ffffff;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');